<launch>
  <arg name="joy_config" default="xbox360" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find teleop_joy_race)/config/$(arg joy_config).config.yaml" />

  <arg name="autorepeat_rate" default="0.0" />
  <arg name="cmd_topic" default="/cmd_vel" />

  <!-- You can disable the deadman button by adding 'enable_deadman:=false' to the launch script. -->
  <!-- E.g. 'roslaunch teleop_joy_race teleop.launch enable_deadman:=false' USE AT YOUR OWN RISK -->
  <arg name="enable_deadman" default="true" />
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" type="string" />
    <param name="default_trig_val" value="true" /> <!-- Set this to get the correct trigger values upon startup -->
    <param name="deadzone" value="0.3" type="double" />
    <param name="autorepeat_rate" value="$(arg autorepeat_rate)" type="double" />
  </node>

  <node pkg="teleop_joy_race" name="teleop_joy_race" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <param name="joy_config" value="$(arg joy_config)" />
    <param name="enable_deadman" value="$(arg enable_deadman)" />
  </node>
</launch>
